.disabled_btn {
    background-color: lightgray;
}

.table[data-v-c9bd1de2] {
    width: 100%;
    margin-top: 20px;
}

th[data-v-c9bd1de2],
td[data-v-c9bd1de2] {
    padding: 10px;
    text-align: left;
}

.modal[data-v-c9bd1de2] {
    display: block;
    background: rgba(0, 0, 0, 0.5);
}

.modal-dialog[data-v-c9bd1de2] {
    margin: 10% auto;
}

.modal-content[data-v-c9bd1de2] {
    padding: 20px;
}

.close[data-v-c9bd1de2] {
    background: none;
    border: none;
    font-size: 24px;
}

.form-group[data-v-c9bd1de2] {
    margin-bottom: 20px;
}

.btn[data-v-c9bd1de2] {
    margin-right: 5px;
}